@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap');
@import url(https://db.onlinewebfonts.com/c/3b70e6ea3981d6ca4d9bcc5ab3df220e?family=HelveticaNowDisplay-ExtraBold);
@import "devicon/devicon.min.css";
@import "tailwindcss";

@utility section-padding {
    padding-left: 0;
    
    @media (min-width: 768px) {
        padding-inline: calc(var(--spacing) * 30);
    }
}

html {
    scroll-behavior: smooth;
}